body {
  background-color: pink;
}

h1 {
  text-align: center;
  border-style: double;
  background-color:white;
}

h2 {
  color: #FE2E64;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border-style: solid;
  border-width: 3px;
  border-color: purple;
}

th {
  background-color: purple;
  color: white;
}
tr {
    background-color:white;
    color: purple;
    text-align:center;
}

p {
  font-style: oblique;
  font-size: 20px;
}

p.lettrine::first-letter {
  font-size: 300%;
}

a:hover {
  color: green;
}

a:link {
  text-decoration: none;
}

img {
  border-radius: 8px;
}

img.small {
  width: 150px;
  height: auto;
}

img.medium {
  vertical-align:center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 450px;
  height: auto;
}

figcaption.medium{
  text-align:center;
  font-weight:bold;
}



dl {
  padding-left: 50px;
  border-left: solid;
}

dt {
  font-size: 30px;
  text-decoration: underline;
}

dd > h4 {
  color: purple;
}
